html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: LightGray;
}

.content{
padding:0em 1em;

}

.top_navigation{
	background-color: white;
}

.top_navigation > .content{
width:60em;
height:4.5em;
margin: 0 auto;
}

.logo{
	margin-top:auto;	
}

.top_navigation .links {
float: right;
font-family: 'Roboto', sans-serif;
font-size: 16px;
color: #838994;
letter-spacing: 0.03em;
-webkit-font-smoothing: antialiased;
}

.links > li{
display:inline-block;
margin:1em;
}

.links > .active {
    color: #4c5058;
    font-weight: 500;
}


.links > .active > a:hover{

	color:#000;
}

.links > .active > a{
    color: #4c5058;
    font-weight: 500;
}

a:link {
  color: #838994;
  text-decoration: none;
}

a:hover {
  color: #000;
  cursor: pointer;
  color: #333333;
}
.main{
padding:0 auto; 
margin:0;

}

.introduction{ 
  background:url('../images/background.jpg');
   background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
}
.introduction_big,
.introduction_small{
    color:white;
	text-align: center;
	font-family: 'Roboto', sans-serif;
letter-spacing: 0.03em;
-webkit-font-smoothing: antialiased;
float:center;
}
.introduction_big{

	margin-top:0;
}

